@{
    ViewData["Title"] = "Resource Page";
}

<div class="text-center">
    <h1 class="display-4">Resources</h1>

    <!--An image to be displayed from the images folder in wwwroot-->
    <img src="~/images/download.jpg" />

    <br/>

    <h2>Online Courses and Online webinars</h2>
    <br/>
    <br/>
    <p >
        <a href="https://www.saretec.org.za/online-training/" target= "_blank" >SARETEC</a>
        <br/>
        <b>South African Renewable Energy Technology Center (SARETEC)</b>
        <br/>
        South African Renewable Energy Technology Center provides accredited online courses and webinars throughtout the year.
        They focus on wind and solar photovoltaic sectors
    </p>

    <br/>
    <br/>
    <p >
        <a href="https://www.uncclearn.org/courses/climate-smart-agriculture-in-south-africa/" target= "_blank">CSA</a>
        <br/>
        <b>Climate-Smart Agriculture in South Africa </b>
        <br/>
        Offers self-paced courses introducing climate-smart agriculture (CSA) concepts.
        The Course aims to raise awareness and strengthen capacities on CSA in South Africa, covering principles, crop and livestock production, remote sensing
        and enabiling conditions for CSA Adoption.
    </p>

    <br/>
    <br/>
    <p >
        <a href="https://www.indepthresearch.org/course/integrating-renewable-energy-in-agriculture-training-course" target= "_blank"> IRES </a>
        <br/>
        <b>Indepth Research Institute (IRES) </b>
        <br/>
       Intergrating Renewable Energy in Agriculture Traning Course.
       Covers principles and benefits of renewable energy in agriculture, including solar, wind, hydro and geothermal applications
    </p>

    <br/>
    <br/>
    <p >
        <a href="https://www.indepthresearch.org/course/integrating-renewable-energy-in-agriculture-training-course" target= "_blank"> Webinars </a>
        <br/>
        <b>Farmers Weekly Webinars </b>
        <br/>
       Monthly webinars on national and regional issues affecting the agriculture sector, including renewable energy solutions.
       Free webinars with expert panel discussions
    </p>

    <h2>Online workshops</h2>

    <br/>
    <br/>
    <p >
        <a href="https://www.industrialefficiency.co.za/2024/10/09/online-training-workshop-tools-for-accelerating-the-uptake-of-renewable-energy-and-water-efficiency-in-the-agriculture-sector/" target= "_blank"> Upcomming Workshops </a>
        <br/>
        <b>Upcoming & Ongoing Online Workshops in Agri-Energy </b>
        <br/>
       Focuses on enhancing climate resilience in agriculture through practical tools and strategies for renewable energy and water efficiency.
    </p>

    <br/>
    <br/>
    <p >
        <a href="https://www.greenagri.org.za/events-and-workshops/" target= "_blank"> Webinars </a>
        <br/>
        <b>Energy Awareness Workshops by GreenAgri </b>
        <br/>
       Focuses on rasing awareness among producers on the basics of energy efficiency to support greater energy resiliences in agriculture.
       These workshops are held in Western Cape.
    </p> 
</div>
