@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <!--An image to be displayed from the images folder in wwwroot-->
    <img src="~/images/field.jpg" />

    <br />

    <p>
        Agri-Energy Connect is a visionary proposal that has been conceptualised in response to the growing
        need for sustainable agricultural practices and integration of green energy solutions in Soth Africa.
        It wants to fill the gap between the agricultural sector and green energy technology providers.
        The objective of this platform is to create a digital ecosystem where farmers, green energy experts, and
        enthusiasts can collaborate, share resources, and innovate in the spaces of sustainable agriculture and renewable energy.
        We want to create a platform where resources can be shared amongst each other.
        We want to create a platform where farmers can collaborate with green experts and have a place where they can get funding.
        A platform that will provide educational resources to the farmers and anyone who is interested in going into this sector.
        There will also s a marketplace. The high-level place is to provide a platform for everyone in the agricultural sector to make it.
        Benefits of bridging sustainable agriculture with green energy solutions through a digital ecosystem is that there will be a platform
        that will provide help to anyone who needs it. There will be a platform that will connect everyone in the agricultural sector.
        There is a place to find any resources that people in the agricultural sector require.
    </p>

</div>
